.body {
  padding: .5em;
  box-sizing: border-box;
  color: #555;
  font-family: 'Courier New', monospace;
  pointer-events: none;
  height: 100%;
  display: flex;
  flex-direction: column;
}

input { font: inherit; pointer-events: all; }

#title { font-size: 1.3em; margin: .25em 0; }
#errors { color: #f00; font-size: .8em; flex-grow: 1; }
#errors ul { padding-left: 2em; }
#buttons { text-align: right; margin: .5em; }

#zone input.err { border-color: #f00; }
#zone input {
  border: 2px solid #eee;
  border-radius: 2px;
  width: 2.5em;
  padding: .2em;
  text-align: right;
  margin: .2em;
}

#btnSave { color: #fff; background: #0d0; }
#btnSave:disabled { opacity: 0.3; }

input[type=button]:not(:disabled) { cursor: pointer; }
input[type=button] { border: 1px solid #aaa; }