.grid-zone {
  position: relative;
}

canvas {
  width: 100%;
}
canvas#hilite {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
}

ne14-menu.dark {
  --bg: #333;
  --border: 1px solid #888;
  --box-shadow: 2px 2px 3px #333;
  --hover-item-bg: #666;
  --fg: #eee;
  --disabled-fg: #666;
}

@media print {
  #hilite,
  ne14-menu {
    display: none;
  }
}
